/* NavBar styling goes here */
#color{
    background-color: pink;
    opacity: 0.9;
    height: 75px;
}

#color a{
    font-size: 20px;
}

/* Carousel styling goes here */
#carouselExampleCaptions img{
    width: 400px;
    height:600px;
  }

.carousel-inner{
    width: 100%;
    height: auto;
  }


/* Cards styling goes here */
.card{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.row img{
    width: 100%;
    height: 350px;
}

/* Footer styling goes here */
#footer{
    text-align: center;
    width: 100%;
    height: 75px;
    background: #007bff;
    background: linear-gradient(to right, #0062E6,#33AEFF);
}


/* AboutUs styling goes here */
.style{
    border-color: grey;
    margin-left: 45px;
}
.col-md-8{
    text-align: left;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
    font-weight: 500;
    color:black;
    background-color: linen;
}

.card-text{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
    font-weight: 500;
    color: grey;
}

.card-img{
    margin-top: 25px;
    border-color: black;
    border-radius: 50px;
    border-width: 10px;
}

.ashly{
    height: 150px;
    width: 200px;
}

.kimberly{
    height: 150px;
    width: 200px;
}
