/* NavBar styling goes here */

#color{
    background-color: pink;
}


/* Carousel styling goes here */





/* Cards styling goes here */

.card-deck{
   
    margin: 20,20,20,20%

}



/* Footer styling goes here */
#footer{
    text-align: center;
    width: 100%;
    height: 60px;
    background: #007bff;
    background: linear-gradient(to right, #0062E6,#33AEFF);
}
