.aboutUs{
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: large;
    font-weight: 500;
    color: darkblue;
  }

  .card-deck{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 20px;
}

  #footer{
    text-align: center;
    width: 100%;
    height: 60px;
    background: #007bff;
    background: linear-gradient(to right, #0062E6,#33AEFF);
}